.header-color {
  background: #000046; /* fallback for old browsers */
  background: -webkit-linear-gradient(
    to bottom,
    #000046,
    #1cb5e0
  ); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(
    to bottom,
    #000046,
    #1cb5e0
  ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}
.landing-grid {
  background: #348f50; /* fallback for old browsers */
  background: -webkit-linear-gradient(
    to top,
    #348f50,
    #56b4d3
  ); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(
    to top,
    #348f50,
    #56b4d3
  ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  height: auto;
}
.badge {
  position: absolute;
  top: 25px;
  left: 25px;
  z-index: 2;
}
.golf-right-col {
  background: #27221f;
  color: white;
  padding: 2em;
  border-radius: 10px;
}
/*.dot {
  height: 5px;
  width: 5px;
  background-color: rgb(42, 101, 230);
  border-radius: 50%;
  display: inline-block;
}*/
.banner-text {
  background-color: black;
  opacity: 0.8;
  width: 100%;
  margin: auto;
  border-radius: 10px;
}

.banner-text h1 {
  font-size: 66px;
  font-weight: bold;
  color: lightyellow;
  letter-spacing: 5px;
  text-shadow: 3px 3px 8px rgb(54, 20, 179);
}

.banner-text hr {
  border-top: 5px solid rgb(61, 171, 199);
  width: 95%;
  margin: auto;
}

.banner-text p {
  color: lightyellow;
  font-size: 20px;
  padding: 1em;
}
.social-links {
  display: flex;
  justify-content: space-between;
  width: 50%;
  margin: auto;
}

.social-links i {
  color: rgb(10, 72, 97);
  font-size: 5em;
  padding: 8px;
}
.social-links-1 i {
  color: rgb(10, 72, 97);
  font-size: 100px;
  padding: 8px;
  position: absolute;
  top: 280px;
  left: 105px;
  z-index: 2;
}
li span {
  position: relative;
  left: -10px;
  height: 5px;
  width: 5px;
  border-radius: 50%;
}
.clubsponsor {
  text-align: center;
  padding-top: 3px;
}
.image img {
  position: relative;
  bottom: 50px;
  margin: 10px;
}
.images img {
  position: relative;
  top: 15px;
  left: 60px;
  margin: auto;
}
.home-page-img {
  display: block;
  margin-left: 100px;
  margin-right: auto;
}
.img {
  filter: brightness(70%);
}
.heading {
  text-shadow: 3px 3px 8px rgb(54, 20, 179);
}
.box {
  width: 800px;
  border: 5px solid rgb(241, 151, 33);
  padding: 10px;
  margin-left: 70px;
  margin-top: 10px;
  margin-bottom: 5px;
  position: relative;
}
.fixed {
  position: fixed;
}
.blink {
  animation: blink 1s steps(1, end) infinite;
}

@keyframes blink {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@media only screen and (max-width: 800px) {
  /* For tablets: */
  .main {
    width: 80%;
    padding: 0;
  }
  .right {
    width: 100%;
  }
}
@media only screen and (max-width: 500px) {
  /* For mobile phones: */
  .menu,
  .main,
  .right {
    width: 100%;
  }
}
